@{
    ViewData["Title"] = "Merchandise";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="row">
    <div class="col-sm-4">
        <div id="merch-text">
            <h2>@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>
        </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
</body>
</html>
