@{
    ViewBag.Title = "Ny merchandise";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css"/>

<h2>@ViewData["Title"]</h2>

<div class="form-group">
    <label for="usr">Navn:</label>
    <input type="text" class="form-control" id="usr" placeholder="Indtast navn">
</div>

<div class="checkbox">
    <label><input type="checkbox" value="">Tilføj størrelser</label>
</div>