@{
    ViewData["Title"] = "Indkøb";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-4">
        <p>Her kan tilføjes et indkøb for hver merchandise</p>
        
    </div>
</div>