/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Color and font weight of the navbar buttons' text */
.nav.navbar-nav li a{
    color: #FF6900;
    font-weight: bold;
}

/*------- Styles for Index page -------*/
/* Style for the black text box on the welcome page */
#welcome-text {
    background-color: #222222;
    color: white;
    width: 100%;
    height: 650px;
}

/* Style for the text div on the welcome page */
#text {
    text-align: center;
    padding: 100px;
}

/*------- Styles for NewMerch page -------*/
/* Input form */
.form-group {
    width: 30%;
}